@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Varela+Round&display=swap');
body{
    background-image: url(./res/background.jpg);
    padding: 50px 0;
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Roboto Slab', serif;
    width: 100%;
    position: fixed;
    top: 0;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 50px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.logo img{
    width: 50px;
    padding: 0 8px;
}

.logo{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.2rem;
}

.searchbar{
    position: relative;
    display: flex;
    min-width: 500px;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}
#filter{
    border: 3px solid #a044ff;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-li{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

#search-icon{
    cursor: default;
    position: absolute;
    left: 2px;
    width: 14px;
    color: #a044ff;
}
#search-icon:hover{
    color: #a044ff;
}

#clear-icon{
    position: absolute;
    right: 2px;
    width: 10px;
    cursor: pointer;
}

#search-text{
    border: 1px solid grey;
    border-radius: 20px;
    height: 25px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: white;
}


.bottom{
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-family: 'Roboto Slab', serif;
}

#audioProgress{
    min-width: 50vw;
    height: 3px;
    transition: 0.4s all ease-out;
}

.time-bar{
    margin: 5px;
}


.icons{
    margin: 15px;
}

i{
    cursor: pointer;
    padding: 3px;
    margin: 3px;
}

i:hover{
    font-size: 30px;
    color: purple
}

.songInfo{
    display: flex;
    margin-left: 10px;
    width: 20%;
}

#songImage{
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border-radius: 12px;
    border: 2px solid #a044ff;
}

#artistTitle{
    font-size: 10px;
}

#container-topline{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.queueVol{
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}

#volumeBar{
    height: 3px;
}

.container{
    height: 450px;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    width: 1000px;
    margin: 20px auto;
    border-radius: 12px;
    padding: 5px;
    position: relative;
    overflow: hidden;
}

/* .top-line{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 10px;
    padding: 20px;
} */

#home{
    display: flex;
}

#playlist{
    display: none;
    position: relative;
}

#about{
    display: none;
}



#search{
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
}

.navigation-options{
    cursor: pointer;
}

.navigation-options:hover{
    color: #a044ff;
}

.screen{
    height: 400px;
    width: 980px;
    object-fit: cover;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
}
.screen::-webkit-scrollbar{
    width: 5px;
}

.screen::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 6px rgba(160,68,255,255);
    color: #a044ff;
}
.screen::-webkit-scrollbar-track{
    background-color: grey;
    border-radius: 3px;
}

#home-tracks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    width: 100%;
    position: relative;
}

.tracks{
    width: 250px;
    height: 250px;
    margin: 10px;
    margin-bottom: 20px;
    border: 3px solid #a044ff;
    border-radius: 12px;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-size: contain;
}

.home-content-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.search-song-name{
    padding: 3px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100px;
}

.song-buttons{
    display: flex;
    width: 60px;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    position: relative;
}

.option-div{
    position: absolute;
    top: 33px;
    right: 100px;
    display: none;
    background-color: #a044ff;
    border-radius: 5px ;
    min-width: 130px;
    z-index: 1;
}

.playlist-div{
    position: absolute;
    top: 33px;
    left: -33px;
    display: none;
    background-color: #a044ff;
    border-radius: 5px ;
    min-width: 130px;
    overflow-y: auto;
    z-index: 1;
}

.search-option-div{
    position: absolute;
    top: 35px;
    right: 65px;
    display: none;
    background-color: #a044ff;
    border-radius: 5px ;
    min-width: 130px;
    z-index: 1;
}

.search-playlist-div{
    position: absolute;
    top: 35px;
    left: -15px;
    display: none;
    background-color: #a044ff;
    border-radius: 5px ;
    min-width: 130px;
    overflow-y: auto;
    z-index: 1;
}

.menu-options{
    padding: 12px 16px;
    display: block;
    cursor: pointer;
    font-size: 12px;
}

.menu-options:hover{
    color: purple;
}

.tracks:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

#loader{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    width: 100%;
}

.skeleton-tracks{
    width: 250px;
    height: 250px;
    margin: 10px;
    background-color: #a044ff;
    border-radius: 12px;
    transition: all 200ms ease-in-out;
    position: relative;
}

.skeleton-tracks::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
    animation: load 1s infinite;
}
@keyframes load {
    100% {
      transform: translateX(100%);
    }
}

.search-loader{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
}

.search-skeleton-tracks{
    width: 130px;
    height: 130px;
    margin: 10px;
    background-color: #a044ff;
    border-radius: 12px;
    transition: all 200ms ease-in-out;
    position: relative;
}

.search-skeleton-tracks::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
    animation: load 1s infinite;
}

.show{
    display: block;
}

.playlist{
    border: 2px solid #00dbde;
}

.songName{
    padding: 3px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.song-name{
    padding: 3px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 160px;
}

#search-artist-result{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 140px;
}

#search-song-result{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 140px;
}

#search-song-display{
    display: none;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    width: 100%;
    position: relative;
}

#search-artist-display{
    display: none;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    width: 100%;
    position: relative;
}

.searched-song{
    width: 130px;
    height: 130px;
    margin: 10px;
    border: 3px solid #a044ff;
    border-radius: 12px;
    display: flex;
    align-items: flex-end;
    font-size: 10px;
    background-size: cover;
}

.searched-artist{
    width: 130px;
    height: 130px;
    margin: 10px;
    border: 3px solid #a044ff;
    border-radius: 12px;
    display: flex;
    align-items: flex-end;
    font-size: 10px;
    cursor: pointer;
    background-size: cover;
}

.searched-artist:hover{
    background-blend-mode: darken;
}

.no-result{
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

.playlist-page{
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
}

.added-playlist-page{
    display: flex;
    width: 100%;
    padding: 0 50px;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
}

.each-added-playlist{
    display: flex;
    height: 120px;
    width: 120px;
    background-color: #a044ff;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 10px;
    padding: 10px;
    border: 2px solid #00dbde;
    border-radius: 5px;
    cursor: pointer;
    background-size: cover;
}

.each-added-playlist-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    height: 50px;
    width: 100%;
    margin: 5px;
}

.each-playlist{
    display: flex;
    height: 150px;
    width: 800px;
    background-color: #a044ff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid #00dbde;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    background-size: cover;
}

/* #playlist-open{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    width: 100%;
    position: relative;
}

.playlist-each-song{
    width: 130px;
    height: 130px;
    margin: 10px;
    border: 3px solid #a044ff;
    border-radius: 12px;
    display: flex;
    align-items: flex-end;
    font-size: 10px;
    background-size: contain;
} */

#add-playlist{
    display: none;
    position: absolute;
    /* display: grid; */
    height: 250px;
    width: 400px;
    background-color: purple;
    top: 100px;
    left: 300px;
    z-index: 1;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    margin: 2px;
    border-radius: 15px;
    padding: 5px;
}

#add-playlist-top{
    grid-area: 1/1/1/6;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    
}

#add-playlist-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 2/1/5/3;
    border: 3px solid #a044ff;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
    background-size: cover;
}

#add-playlist-input{
    grid-area: 2/3/5/6;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.add-playlist-input-style{
    border-radius: 5px; background-color: black; color: white;border: 2px solid #a044ff;
    margin: 5px;
}

#add-playlist-save{
    grid-area: 5/1/6/6;
    padding: 5px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

#add-playlist-save-btn{
    margin: 10px;
    width: 100px;
    height: 25px;
    border: 2px solid #a044ff;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 16px;
}

#playlist-open-page{
    display: none;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
    padding: 10px;
}

#playlist-open-image{
    border: 5px solid #a044ff;
    border-radius: 10px;
    background-image: url(./res/playlist_image.jpg);
    grid-area: 1/1/4/3;
    background-size: cover;
    position: relative;
}

#playlist-open-image-btn{
    position: absolute;
    top: 35px;
    left: 100px;
    height: 50px;
    width: 50px;
    display: none;
}

#circle-play-btn:hover{
    font-size: 100px;
}

#playlist-open-details{
    grid-area: 4/1/7/3;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#playlist-open-des{
    color: white;
    display: inline-block;
}

#playlist-open{
    grid-area: 1/3/7/7;
    margin-left: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
}
#playlist-open::-webkit-scrollbar{
    width: 5px;
}

#playlist-open::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 6px rgba(160,68,255,255);
    color: #a044ff;
}
#playlist-open::-webkit-scrollbar-track{
    background-color: grey;
    border-radius: 3px;
}

.playlist-open-each-song{
    width: 500px;
    height: 70px;
    display: flex;
    
    margin: 10px;
    background-color: rgba(160,68,255,0.2);
    border-radius: 7px;
}

.playlist-open-each-song-image{
    width: 70px;
    height: 70px;
    background: content-box;
}

.playlist-open-each-song-details{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 5px;
}

.playlist-open-each-song-name{
    font-size: 20px;
}

.playlist-open-each-song-btns{
    display: flex;
    justify-content: center;
    align-items: center;
}



/* #delete-playlist{
    height: 130px;
    width:250px;
    display: none;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    position: absolute;
    background-color: purple;
    top: 100px;
    left: 350px;
    border-radius: 15px;
}

.delete-playlist-message{
    grid-area: 1/1/2/5;
    margin: 10px;
}

.delete-playlist-btn{
    margin: 10px;
    width: 100px;
    height: 25px;
    border: 2px solid #a044ff;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.delete-playlist-btns{
    display: flex;
    grid-area: 2/2/3/5;
} */

#topline-text{
    cursor: pointer;
}

#playlist-play-btn{
    margin: 20px;
    padding: 5px;
    display: block;
}

#queue{
    display: none;
    /* flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center ; */
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    justify-items: center;
}

.queue-heading{
    width: 100%;
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1/2/2/5;
}

.queue-songlist{
    margin-left: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    width: 650px;
    height: calc(100%-120px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-area: 2/2/6/5;
}
.queue-songlist::-webkit-scrollbar{
    width: 5px;
}

.queue-songlist::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 6px rgba(160,68,255,255);
    color: #a044ff;
}
.queue-songlist::-webkit-scrollbar-track{
    background-color: grey;
    border-radius: 3px;
}

.queue-open-each-song{
    width: 500px;
    height: 70px;
    display: flex;
    margin: 7px;
    background-color: rgba(160,68,255,0.2);
    border-radius: 7px;
    cursor: pointer;
}

.queue-open-each-song-image{
    width: 70px;
    height: 70px;
    background: content-box;
}

.queue-open-each-song-details{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 5px;
}

.queue-open-each-song-name{
    font-size: 20px;
}

.queue-open-each-song-btns{
    display: flex;
    justify-content: center;
    align-items: center;
}

#player-image-container{
    display: none;
}

#filter{
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
}

#filter-option-div{
    position: absolute;
    display: none;
    top: 47px;
    right: -10px;
    background-color: purple;
    border-radius: 5px ;
    min-width: 130px;
    z-index: 1;
}

.filter-options{
    padding: 12px 16px;
    display: block;
    cursor: pointer;
    font-size: 12px;
}